BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakBeforeBraces: Custom
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '4'
Cpp11BracedListStyle: 'false'
IndentCaseLabels: true
IndentWidth: '4'
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: '0'
SortIncludes: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Auto
TabWidth: '4'
UseTab: Never
ColumnLimit: 0
